<div id="content">

    <h3>Diferir Cuotas</h3>

    <form class="form-full-width">
        <div class="example-container">
            <div class="form-group">
                <mat-form-field class="input-full-width">
                    <mat-select placeholder="Tipo Documento">
                        <mat-option value="1">DNI</mat-option>
                        <mat-option value="3">Carné de Extranjería</mat-option>
                        <mat-option value="4">Pasaporte</mat-option>
                        <mat-option value="6">RUC</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Número de Documento" [formControl]="docNumber" required>
                    <mat-error *ngIf="docNumber.invalid">{{getErrorMessageDocNumber()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Número de Tarjeta" [formControl]="cardNumber" required>
                    <mat-error *ngIf="cardNumber.invalid">{{getErrorMessageCardNumber()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="input-full-width">
                    <mat-select placeholder="Tipo Proceso">
                        <mat-option value="1">Visa cuotas</mat-option>
                        <mat-option value="2">Disef cuotas</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-raised-button class="form-control" color="primary">Enviar solicitud</button>

        </div>
    </form>
</div>