/*.bg-bcpColor{
    background-color: #012d74 !important;
}*/

.bg-bcpColor{
    background-color: #1E1F26 !important;
}

.bcp_logo img {
    height: 30px;
    margin-top: 0px !important;
    float: left;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}