/*.bg-bcpColor{
    background-color: #012d74 !important;
}*/

.bg-bcpColor{
    background-color: #012d74 !important;
}

.bcp-header{
    width: 100%;
    z-index: 8888889;
}

.bcp_logo img {
    height: 30px;
    margin-top: 0px !important;
    margin-left: 5%;
    float: left;
}
