/* Main Footer */
footer .main-footer {
  background: #252525;
  margin-bottom: 0;
}

/* Copy Right Footer */
.footer-copyright {
  background: rgb(133, 129, 129);
  padding: 5px 0;
}

.footer-copyright p {
  color: #fff;
  margin: 2px 0 0;
}


