<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <!-- <div class="sidebar-header text-center">
                <h3>Cyrax Suite</h3>
            </div>
            -->
            <ul class="list-unstyled components"> 
                <li routerLinkActive="active">
                    <a [routerLink]="['/pin-resetting']">Pin Resetting</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/defer-quota']">Defer Quota</a>
                </li>
                <!-- <li>
                    <a href="#">Send EECC</a>
                </li>
                <li>
                    <a href="#">Card Lock</a>
                </li>
                <li>
                    <a href="#">Abroad Enable/Disable</a>
                </li>-->
            </ul>
        </nav>
    </div>

