<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container bg-bcpColor">
        <a class="navbar-brand" href="#">
            <img
                src="https://www.viabcp.com/wcm/connect/975e78fb-d9ae-4c79-a559-36546697b247/logo-bcp.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-975e78fb-d9ae-4c79-a559-36546697b247-mjYtvHn">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <p class="nav-link welcome" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
                        Bienvenido Alonso Carruitero
                    </p>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Procesos
                    </a>
                    <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                    <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/pin-resetting']">Reseteo de
                            Clave</a>
                        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/defer-quota']">Diferir en
                            Cuotas</a>
                        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/send-eecc']">Envío de
                            EECC</a>
                        <a class="dropdown-item" routerLinkActive="active"
                            [routerLink]="['/card-lock']">Bloqueo/Desbloqueo de TC/TD</a>
                        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/abroad-enable']">Compras en
                            el exterior</a>
                        <a class="dropdown-item" routerLinkActive="active"
                            [routerLink]="['/disenrollment-insurance']">Desafiliación Seguro</a>
                        <a class="dropdown-item" routerLinkActive="active"
                            [routerLink]="['/cancelation-tc']">Cancelación TC</a>
                        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/activation-tc']">Activación
                            TC</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>