<div id="content">

    <h3>Compras en el Exterior</h3>

    <form class="form-full-width">
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <mat-select placeholder="Tipo Documento" [(ngModel)]="docType" [ngModelOptions]="{standalone: true}"
                    required>
                    <mat-option *ngFor="let x of docTypes" [value]="x.id">{{x.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!--BEGIN - Document Number -->
        <div class="form-group" *ngIf="docType == 1">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Número de Documento" [formControl]="docNumberDNI" required>
                <mat-error *ngIf="docNumber.invalid">{{getErrorMessageDocNumberDNI()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group" *ngIf="docType == 3">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Número de Documento" [formControl]="docNumber" required>
                <mat-error *ngIf="docNumber.invalid">{{getErrorMessageDocNumberCE()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group" *ngIf="docType == 4">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Número de Documento" [formControl]="docNumber" required>
                <mat-error *ngIf="docNumber.invalid">{{getErrorMessageDocNumberPasaporte()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group" *ngIf="docType == 6">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Número de Documento" [formControl]="docNumberRUC" required>
                <mat-error *ngIf="docNumber.invalid">{{getErrorMessageDocNumberRUC()}}</mat-error>
            </mat-form-field>
        </div>
        <!-- END - Document Number -->
        <div class="form-column" *ngFor="let obj of dataarray; let i = index">
            <div class="form-group">
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Número de Tarjeta" name="name{{i}}" [(ngModel)]="obj.cardNumber"
                        [formControl]="cardNumber" required>
                    <mat-error *ngIf="cardNumber.invalid">{{getErrorMessageCardNumber()}}</mat-error>
                    <mat-icon *ngIf="i < 3" (click)="addCardNumber(i)" matSuffix>add</mat-icon>
                    <mat-icon *ngIf="i > 0" (click)="removeCardNumber(i)" matSuffix>remove</mat-icon>
                </mat-form-field>

            </div>
        </div>
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Fecha inicio" [formControl]="serializedDate"
                    required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <input matInput [matDatepicker]="picker2" placeholder="Fecha fin" [formControl]="serializedDate"
                    required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Comentario">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Correo electrónico" [formControl]="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Celular">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Matrícula Asesor" [formControl]="asesorCode" required>
                <mat-error *ngIf="asesorCode.invalid">{{getErrorMessageAsesorCode()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Matrícula Supervisor" [formControl]="supervisorCode" required>
                <mat-error *ngIf="supervisorCode.invalid">{{getErrorMessageSupervisorCode()}}</mat-error>
            </mat-form-field>
        </div>



        <button mat-raised-button class="form-control" color="primary">Enviar solicitud</button>
    </form>
</div>